.appShell {
    display: flex;
    position: fixed;
    margin-top: calc(var(--mantine-spacing-md) * 3);
    margin-bottom: calc(var(--mantine-spacing-md) * 3);

    @media (max-width: $mantine-breakpoint-xs) {
        margin-bottom: calc(var(--mantine-spacing-md) * 2);
    }
}

.appShellMain {
    padding: var(--mantine-spacing-md);

    @media (max-width: $mantine-breakpoint-xs) {
        padding: var(--mantine-spacing-xs);
    }
}
