.appShell {
    display: flex;
    position: fixed;
    inset: 0;
}
.appShellMain {
    flex-grow: 1;
    padding: 100px 24px 60px;
    min-width: 0;
}
.appShellHeader {
    border: 0;
    padding: 18px 32px;
    height: 76px;
    background: transparent;
}
.loginGroup {
    position: relative;
}
.appShellMainScroll {
    height: 100%;
    width: 100%;
    justify-content: center;
}
@media (max-width: 36em) {
    .appShellMain {
        padding: 90px 14px 50px;
    }
    .appShellHeader {
        padding: 18px;
    }
}
