.notifications {
    position: fixed;
    right: 0;
    top: 0;
    width: 26rem;
    margin: var(--mantine-spacing-md);
    justify-content: center;

    @media (max-width: $mantine-breakpoint-sm) {
        width: 95dvw;
        margin: var(--mantine-spacing-xs);
    }
}
