.rootFlex {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: rem(42px);
    line-height: 1.2;
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
    }
}

.highlight {
    position: relative;
    background-color: var(--mantine-color-blue-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
}


.description {
    padding: rem(4px) rem(12px);
}

.control {
    @media (max-width: $mantine-breakpoint-md) {
        flex: 1;
    }
}

.image {
    width: rem(400px);

    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.iconCheck {
    width: rem(12);
    height: rem(12);
}
