.rootFlex {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (max-width: $mantine-breakpoint-xs) {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: rem(42px);
    line-height: 1.2;
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
    }
}

.highlight {
    position: relative;
    background-color: var(--mantine-color-blue-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(2px) rem(32px);
}

.list {
    padding-right: rem(64px);

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(14px);
        padding-right: 0;
    }
}

.description {
    padding: rem(12px) rem(48px) rem(12px) rem(32px);
    font-size: var(--mantine-h4-font-size);
}

.controlGroup {
    padding-top: rem(24px);
    padding-left: rem(32px);

    @media (max-width: $mantine-breakpoint-xs) {
        padding-left: 0;
    }
}

.control {
    @media (max-width: $mantine-breakpoint-md) {
        flex: 1;
    }
}

.image {
    width: rem(400px);

    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.iconCheck {
    width: rem(12);
    height: rem(12);
}
