.loaderDisabled {
    height: 4px;
    background: transparent;
    visibility: hidden;
}

.loader {
    height: 4px;
    width: 20rem;
    --c: no-repeat linear-gradient(#278b80 0 0);
    background: var(--c), var(--c), #cae5dd;
    background-size: 60% 100%;
    animation: l16 3s infinite;
    @keyframes l16 {
        0% {
            background-position:
                -150% 0,
                -150% 0;
        }
        66% {
            background-position:
                250% 0,
                -150% 0;
        }
        100% {
            background-position:
                250% 0,
                250% 0;
        }
    }
}
