.root {
    width: 60%;

    @media (max-width: $mantine-breakpoint-lg) {
        width: 100%;
    }
}

.mapRoot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
}

.mapContainer {
    flex-grow: 1;
}

.filterPlaygrounds {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    z-index: 1000;
}

.filterRoles {
    position: absolute;
    width: 16rem;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    z-index: 1000;
}
