.icon {
    width: 3rem;
    height: 3rem;
    stroke-width: 1.5;

    @media (max-width: $mantine-breakpoint-xs) {
        width: 6rem;
        height: 6rem;
    }
}

.iconAccept {
    color: var(--mantine-color-blue-6);
}

.iconReject {
    color: var(--mantine-color-red-6);
}

.iconIdle {
    color: var(--mantine-color-dimmed);
}

.description {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
}

.title {
    font-size: large;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: medium;
    }
}

.subTitle {
    font-size: small;
    color: var(--mantine-color-dimmed);

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: x-small;
    }
}
