.root {
    margin-top: var(--mantine-spacing-xs);
    background-color: var(--mantine-color-red-5);

    &::before {
        background-color: var(--mantine-color-white);
    }
}

.description,
.title {
    color: var(--mantine-color-white);
}

.closeButton {
    color: var(--mantine-color-white);

    @mixin hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
