.root {
    column-gap: 2rem;
    padding: var(--mantine-spacing-xl);

    @media (max-width: $mantine-breakpoint-sm) {
        padding: var(--mantine-spacing-sm);
    }
}

.loader {
    width: 100%;
}

.upperSpace {
    height: 4rem;

    @media (max-width: $mantine-breakpoint-sm) {
        height: 3rem;
    }
}

.header {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
