@use "../../app/styles/surfaces" as s;

.root {
    @include s.page;
    gap: 24px;
}

.loader {
    width: 100%;
}

.upperSpace {
    height: 32px;
}

.header {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
