$width: 36rem;

.root {
    padding: var(--mantine-spacing-xl);
    column-gap: 3rem;
    row-gap: 1rem;

    @media (max-width: $mantine-breakpoint-md) {
        padding: var(--mantine-spacing-md);
    }
}

.loader {
    width: 100%;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
}

.newReportButton {
    margin-left: auto;

    @media (max-width: $mantine-breakpoint-md) {
        margin-left: 0;
    }
}

.content {
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    width: $width;

    @media (max-width: $mantine-breakpoint-md) {
        width: 100%;
    }
}

.reportContainer {
    width: $width;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 0.5rem;

    @media (max-width: $mantine-breakpoint-md) {
        width: 100%;
    }
}

.report {
    min-height: 4rem;
    align-items: center;
    padding: var(--mantine-spacing-xs);
    border-radius: 0.5rem;
    column-gap: 2rem;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    box-shadow: 0 0 0.3rem 0.3rem light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));

    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:hover {
        box-shadow: 0 0 0.5rem 0.3rem light-dark(var(--mantine-color-blue-2), var(--mantine-color-blue-9));
        transform: scale(1.02);
    }

    @media (max-width: $mantine-breakpoint-md) {
        background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
    }
}

.report:hover {
    cursor: pointer;
}

.reportLeft {
    min-width: 40%;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
}

.reportRight {
    column-gap: 1rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
    flex-grow: 1;
}

.date {
    min-width: 8rem;
}

.arrow {
    width: 2rem;
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.2s ease;

    @media (max-width: $mantine-breakpoint-md) {
        opacity: 1;
    }
}

.report:hover .arrow {
    opacity: 1;
}

.filterArea {
    width: 100%;
    column-gap: 0.5rem;
}

.filterWeek {
    flex: 1;
}

.filterStatus {
    flex: 1;
}

.pagination {
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.emptyState {
    height: 100%;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
}
