.drawer {
    row-gap: 1rem;
}

.editor {
    max-height: 30dvh;
    overflow-y: scroll;
}

.sendButton {
    margin-left: auto;
}

.templates {
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.template {
    cursor: pointer;
}

.filesContainer {
    width: 100%;
    max-width: 100%;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.filePill {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
}

.filePillText {
    height: 100%;
    max-width: 14rem;
    font-size: 0.8rem;
    justify-content: center;
    align-content: center;
}

.filePillLoader {
    height: 1rem;
    width: 1rem;
}
