.container {
    font-weight: 500;
    display: block;
    color: #b8ced2;
    font-size: var(--mantine-font-size-sm);

    @mixin hover {
        background-color: #ffffff0a;
        color: #edf5f4;
    }
}

.button {
    display: flex;
    align-items: center;
}
