.root {
    padding: 1rem 2rem;
    flex-direction: column;
    row-gap: 1rem;
    width: 48rem;

    @media (max-width: $mantine-breakpoint-md) {
        width: 100%;
    }
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

.description {
    margin-top: -1rem;
    font-size: large;
    color: #0b7285;
}

.requirements {

}

.whatsNew {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.whatsNewTitle {
    font-weight: bold;
}


