.footerContainer {
    position: fixed;
    inset: auto 0 0;
    height: 34px;
    padding: 7px 30px;
    z-index: 200;
    background: transparent;
    :global(.mantine-Text-root) {
        font-size: 12px;
    }
}
.footerContent {
    justify-content: end;
    gap: 14px;
}
@media (max-width: 36em) {
    .footerContainer {
        padding: 7px 12px;
    }
    .footerContent {
        justify-content: center;
        gap: 10px;
    }
}
