$table-width: 64rem;

.root {
    padding: 1rem 1rem 2rem 2rem;
    flex-direction: column;
    row-gap: 1rem;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));

    @media (max-width: $mantine-breakpoint-md) {
        padding: 0.5rem;
    }
}

.loader {
    width: 100%;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

.table {
    width: $table-width
}

.pagination {
    width: $table-width;
    margin-top: 1rem;
    align-items: center;
    column-gap: 1rem;

    @media (max-width: $mantine-breakpoint-md) {
        width: 100%;
    }
}
