.appShellNavbar {
    position: relative;
    width: calc(var(--mantine-spacing-md) * 20);
    margin-top: calc(var(--mantine-spacing-md) * 3);
    margin-bottom: calc(var(--mantine-spacing-md) * 3);

    @media (max-width: $mantine-breakpoint-xs) {
        position: fixed;
        width: 100vw;
        margin-bottom: calc(var(--mantine-spacing-md) * 2);
    }
}

.navbar {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: calc(100vh - var(--mantine-spacing-md) * 6);

    @media (max-width: $mantine-breakpoint-xs) {
        max-height: calc(100vh - var(--mantine-spacing-md) * 5);
    }
}

.header {
    margin-left: calc(var(--mantine-spacing-md) * -1);
    margin-right: calc(var(--mantine-spacing-md) * -1);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.links {
    flex: 1;
    margin-left: calc(var(--mantine-spacing-md) * -1);
    margin-right: calc(var(--mantine-spacing-md) * -1);
}

.linksInner {
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
}

.footer {
    position: relative;
    margin-left: calc(var(--mantine-spacing-md) * -1);
    margin-right: calc(var(--mantine-spacing-md) * -1);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.control {
    font-weight: 500;
    display: block;
    width: 100%;
    color: var(--mantine-color-text);
    font-size: var(--mantine-font-size-sm);
    padding: var(--mantine-spacing-md);

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    }
}
