.rootGroup {
    height: rem(48px);
    padding: rem(6px) rem(16px);
    border-bottom: 1px solid var(--mantine-color-default-border);
}

.logo {
    height: rem(32px);
    width: rem(64px);

    @media (max-width: $mantine-breakpoint-xs) {
        height: rem(24px);
        width: rem(48px);
    }
}
