.rootGroup {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    position: fixed;
    height: calc(var(--mantine-spacing-md) * 3);
    background-color: var(--mantine-color-gray-0);
    border-bottom: 1px solid var(--mantine-color-default-border);
    padding: calc(var(--mantine-spacing-md) / 2) var(--mantine-spacing-md);

    @mixin dark {
        background-color: var(--mantine-color-dark-filled);
    }
}

.logo {
    height: calc(var(--mantine-spacing-md) * 2);
    width: calc(var(--mantine-spacing-md) * 4);

    @media (max-width: $mantine-breakpoint-xs) {
        height: calc(var(--mantine-spacing-md) * 1.5);
        width: calc(var(--mantine-spacing-md) * 3);
    }
}
