.root {
    padding: 1rem 1rem 2rem 2rem;
    flex-direction: column;
    row-gap: 1rem;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    overflow-x: auto;

    @media (max-width: $mantine-breakpoint-md) {
        padding: 0.5rem;
    }

    @media (max-width: 1439px) and (min-width: 1024px) {
        padding: 1rem 0.5rem 2rem 1rem;
    }
}

.title {
    font-size: xx-large;
    font-weight: bolder;

    @media (max-width: $mantine-breakpoint-md) {
        font-size: x-large;
        text-align: center;
    }
}

.statsCard {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.heatmapCard {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.tableCard {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.actionButtons {
    gap: 0.5rem;

    @media (max-width: $mantine-breakpoint-md) {
        flex-direction: column;
        align-items: stretch;
    }
}

.emailButton {
    @media (max-width: $mantine-breakpoint-md) {
        width: 100%;
    }
}
