$table-width: 52rem;

.root {
    padding: 1rem 1rem 2rem 2rem;
    flex-direction: column;
    row-gap: 1rem;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));

    @media (max-width: $mantine-breakpoint-md) {
        padding: 0.5rem;
    }
}

.loader {
    width: 100%;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.table {
    width: $table-width
}

.avatar {
    &:hover {
        cursor: pointer;
    }
}

.columnName {
    width: 16rem;
    padding: 0.3rem;
}

.columnEmail {
    width: 16rem;
}

.columnRoles {
    width: 16rem;
}

.role {
    font-size: small;
    color: #0c8599;
}

.pagination {
    width: $table-width;
    margin-top: 1rem;
    align-items: center;
    column-gap: 1rem;

    @media (max-width: $mantine-breakpoint-md) {
        width: 100%;
    }
}

.emptyState {
    width: $table-width;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
}
