.root {
    width: 60%;
    padding: 2rem;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 3rem;

    @media (max-width: $mantine-breakpoint-lg) {
        width: 100%
    }

    @media (max-width: $mantine-breakpoint-xs) {
        margin-top: 1rem;
        padding: 1rem;
    }
}

.title {
    font-size: xx-large;
    font-weight: bolder;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: large;
    }
}

.input {
    width: 100%;
}

.innerFlex {
    width: 100%;
    flex-direction: column;
    row-gap: 1rem;
}

.errorMessage {
    color: red;
}

.captcha {
    margin-left: auto;
    width: 20rem;
    margin-top: -0.5rem;
    margin-bottom: -1rem;

    @media (max-width: $mantine-breakpoint-xs) {
        width: 100%;
    }
}

.button {
    border-radius: 0;
    width: 20rem;

    @media (max-width: $mantine-breakpoint-xs) {
        width: 100%;
    }
}
