@use "../../../app/styles/surfaces" as s;

$table-width: 100%;

.root {
    @include s.page;
    flex-direction: column;
    gap: 24px;
    overflow-x: auto;
}

.loader {
    width: 100%;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.title {
    @include s.title;
}

.chartTitle {
    font-size: small;
    font-weight: bolder;
    text-align: center;

    @media (max-width: $mantine-breakpoint-md) {
        font-size: x-small;
        text-align: center;
    }
}
